.product-card {
    text-align: center;
    margin-bottom: 30px;

    &__image {
        padding-top: 50%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            position: append($list1: , $val: , $separator: );
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}